.app-header--hidden {
  background-color: #0a3b20;
  position: relative;
  z-index: 10;
  transform: translateX(-200px);
  transition: transform 500ms;
}

.app-header--open {
  transform: translateX(0);
}

.app-header__btn {
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 12px;
}

.app-header__image {
  width: 100%;
}

.app-site-nav__list {
  margin-top: 36px;
}

.app-site-nav__item {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 300ms;
  cursor: pointer;
}

.app-site-nav__item:hover {
  background-color: #15813e;
}

.app-site-nav__link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 8px;
}
