.app-header--hidden {
  background-color: #0a3b20;
  position: relative;
  z-index: 10;
  transform: translateX(-200px);
  transition: transform 500ms;
}

.app-header--open {
  transform: translateX(0);
  overflow: hidden;
  min-width: 120px;
}

.app-header__btn {
  background: none;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 12px;
}

.app-header__arrow {
  font-size: 26px;
}

.app-header__arrow:hover {
  animation: arrowAnim2 1.5s infinite;
}

.app-header__image {
  width: 100%;
}

.app-site-nav__list {
  margin-top: 36px;
}

.app-site-nav__item {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: background-color 300ms;
  cursor: pointer;
}

.app-site-nav__item--active {
  background-color: #15813e;
}

.app-site-nav__item:hover {
  background-color: #15813e;
}

.app-site-nav__link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .app-header--open {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

@keyframes arrowAnim2 {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-10px);
    opacity: 0;
  }
}
