.app-right-panel__map {
  width: 80vw;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 18px;
  border-radius: 24px;
  position: relative;
  min-height: 80vh;
  border: 3px solid rgb(7, 110, 7);
  display: grid;
  justify-items: center;
  align-items: center;
}
