.app-right-panel__quiz {
  width: 80vw;
  color: black;
  background-color: rgb(255, 255, 255);
  padding: 18px;
  border-radius: 24px;
  position: relative;
  min-height: 30vh;
  border: 3px solid rgb(7, 110, 7);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.app-right-panel__question-box {
  display: none;
}

/* .app-right-panel__question-box--open {
  display: block;
  height: 100%;
  width: 40%;
  min-width: 200px;
} */

.app-right-panel__quiz-title {
  font-size: 32px;
}

.app-right-panel__quiz-btn {
  width: 30%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  border: 1px solid green;
  cursor: pointer;
  min-width: 200px;
  transition: color 500ms, background-color 500ms;
  align-self: start;
}

.app-right-panel__quiz-btn:hover {
  background-color: green;
  color: white;
}

.app-right-panel__question-box--open {
  display: grid;
  min-height: 50vh;
}

.app-right-panel__question-box--open h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-right-panel__question-box--open input {
  border: 2px solid #ccc;
  min-width: 180px;
}

.check-btn {
  border: none;
  margin-top: 18px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
  transition: background-color 300ms;
}

.check-btn:hover {
  background-color: rgb(0, 173, 0);
}

@media screen and (max-width: 1025px) {
  .app-right-panel__quiz {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .app-right-panel__question-box--open {
    height: 90vh;
  }
}
