.app-right-panel {
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 255, 237);
}

.app-right-panel__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
  color: #fff;
}

.app-right-panel__video {
  position: fixed;
  z-index: -5;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.app-right-panel__content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  text-align: center;
}

.app-right-panel__title {
  font-size: 42px;
  user-select: none;
}

.app-right-panel__team-name {
  font-size: 56px;
  color: rgb(30, 156, 30);
  font-weight: bold;
  user-select: none;
}
