.app-right-panel {
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-right-panel__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
}

#app-right-panel__map {
  padding: 0;
  margin: 0;
  height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.app-right-panel__title {
  font-size: 2rem;
}

.app-right-panel__desc {
  margin-bottom: 12px;
}
